# <center>EPIB 613 INTRODUCTION TO STATISTICAL SOFTWARE</center>

<center> McGill EBOH </center>

<center> Fall 2020 </center>

<center> Yi Lian </center>

# Lecture 8
- Additional lecture on data manipulation

## 1. Revisit an example from EPIB 607

In [1]:
library(covdata)
library(dplyr)
library(tidyr)
library(ggplot2)
library(readr)

Attaching package: ‘covdata’


The following object is masked from ‘package:datasets’:

    uspop



Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### rename( ) and select( )

In [2]:
pop_county <- read_csv("https://opendata.arcgis.com/datasets/21843f238cbb46b08615fc53e19e0daf_1.csv") %>% 
    dplyr::rename(fips = GEOID, population = B01001_001E, state = State) %>%
    dplyr::select(state, fips, population)

Parsed with column specification:
cols(
  .default = col_double(),
  COUNTYNS = col_character(),
  GEOID = col_character(),
  NAME = col_character(),
  State = col_character(),
  created_user = col_character(),
  created_date = col_character(),
  last_edited_user = col_character(),
  last_edited_date = col_character()
)

See spec(...) for full column specifications.

In [3]:
pop_county

     state       fips  population
1    Alabama     01001  55200
2    Alabama     01003 208107
3    Alabama     01005  25782
4    Alabama     01007  22527
5    Alabama     01009  57645
6    Alabama     01011  10352
7    Alabama     01013  20025
8    Alabama     01015 115098
9    Alabama     01017  33826
10   Alabama     01019  25853
11   Alabama     01021  43930
12   Alabama     01023  13075
13   Alabama     01025  24387
14   Alabama     01027  13378
15   Alabama     01029  14938
16   Alabama     01031  51288
17   Alabama     01033  54495
18   Alabama     01035  12514
19   Alabama     01037  10855
20   Alabama     01039  37351
21   Alabama     01041  13865
22   Alabama     01043  82313
23   Alabama     01045  49255
24   Alabama     01047  40029
25   Alabama     01049  71200
26   Alabama     01051  81212
27   Alabama     01053  37328
28   Alabama     01055 102939
29   Alabama     01057  16585
30   Alabama     01059  31542
⋮    ⋮           ⋮     ⋮
3191 Puerto Rico 72095  11023
3192 Puerto Rico 72097  77255
3193 Puerto Rico 72099  36872
3194 Puerto Rico 72101  31320
3195 Puerto Rico 72103  26266
3196 Puerto Rico 72105  28557
3197 Puerto Rico 72107  21407
3198 Puerto Rico 72109  17334
3199 Puerto Rico 72111  20984
3200 Puerto Rico 72113 143926
3201 Puerto Rico 72115  24036
3202 Puerto Rico 72117  14269
3203 Puerto Rico 72119  50550
3204 Puerto Rico 72121  23054
3205 Puerto Rico 72123  28633
3206 Puerto Rico 72125  32114
3207 Puerto Rico 72127 344606
3208 Puerto Rico 72129  37873
3209 Puerto Rico 72131  37964
3210 Puerto Rico 72133  22066
3211 Puerto Rico 72135  73405
3212 Puerto Rico 72137  79726
3213 Puerto Rico 72139  67780
3214 Puerto Rico 72141  29402
3215 Puerto Rico 72143  37724
3216 Puerto Rico 72145  53371
3217 Puerto Rico 72147   8771
3218 Puerto Rico 72149  22993
3219 Puerto Rico 72151  34149
3220 Puerto Rico 72153  36439

##### Breaks it down step by step to see what it does.

In [4]:
raw <- read_csv("https://opendata.arcgis.com/datasets/21843f238cbb46b08615fc53e19e0daf_1.csv")

Parsed with column specification:
cols(
  .default = col_double(),
  COUNTYNS = col_character(),
  GEOID = col_character(),
  NAME = col_character(),
  State = col_character(),
  created_user = col_character(),
  created_date = col_character(),
  last_edited_user = col_character(),
  last_edited_date = col_character()
)

See spec(...) for full column specifications.

In [5]:
dim(raw)
raw.rename <- dplyr::rename(`.data` = raw, fips = GEOID, population = B01001_001E, state = State)
names(raw); names(raw.rename)

[1] 3220   23

 [1] "FID"                     "COUNTYNS"
 [3] "GEOID"                   "ALAND"
 [5] "AWATER"                  "NAME"
 [7] "State"                   "B25010_001E"
 [9] "B25010_001M"             "B25010_002E"
[11] "B25010_002M"             "B25010_003E"
[13] "B25010_003M"             "B01001_001E"
[15] "B01001_001M"             "B01001_calc_PopDensity"
[17] "created_user"            "created_date"
[19] "last_edited_user"        "last_edited_date"
[21] "B01001_calc_PopDensityM" "SHAPE_Length"
[23] "SHAPE_Area"

 [1] "FID"                     "COUNTYNS"
 [3] "fips"                    "ALAND"
 [5] "AWATER"                  "NAME"
 [7] "state"                   "B25010_001E"
 [9] "B25010_001M"             "B25010_002E"
[11] "B25010_002M"             "B25010_003E"
[13] "B25010_003M"             "population"
[15] "B01001_001M"             "B01001_calc_PopDensity"
[17] "created_user"            "created_date"
[19] "last_edited_user"        "last_edited_date"
[21] "B01001_calc_PopDensityM" "SHAPE_Length"
[23] "SHAPE_Area"

In [6]:
raw.rename.select <- dplyr::select(`.data` = raw.rename, state, fips, population)
raw.rename.select

     state       fips  population
1    Alabama     01001  55200
2    Alabama     01003 208107
3    Alabama     01005  25782
4    Alabama     01007  22527
5    Alabama     01009  57645
6    Alabama     01011  10352
7    Alabama     01013  20025
8    Alabama     01015 115098
9    Alabama     01017  33826
10   Alabama     01019  25853
11   Alabama     01021  43930
12   Alabama     01023  13075
13   Alabama     01025  24387
14   Alabama     01027  13378
15   Alabama     01029  14938
16   Alabama     01031  51288
17   Alabama     01033  54495
18   Alabama     01035  12514
19   Alabama     01037  10855
20   Alabama     01039  37351
21   Alabama     01041  13865
22   Alabama     01043  82313
23   Alabama     01045  49255
24   Alabama     01047  40029
25   Alabama     01049  71200
26   Alabama     01051  81212
27   Alabama     01053  37328
28   Alabama     01055 102939
29   Alabama     01057  16585
30   Alabama     01059  31542
⋮    ⋮           ⋮     ⋮
3191 Puerto Rico 72095  11023
3192 Puerto Rico 72097  77255
3193 Puerto Rico 72099  36872
3194 Puerto Rico 72101  31320
3195 Puerto Rico 72103  26266
3196 Puerto Rico 72105  28557
3197 Puerto Rico 72107  21407
3198 Puerto Rico 72109  17334
3199 Puerto Rico 72111  20984
3200 Puerto Rico 72113 143926
3201 Puerto Rico 72115  24036
3202 Puerto Rico 72117  14269
3203 Puerto Rico 72119  50550
3204 Puerto Rico 72121  23054
3205 Puerto Rico 72123  28633
3206 Puerto Rico 72125  32114
3207 Puerto Rico 72127 344606
3208 Puerto Rico 72129  37873
3209 Puerto Rico 72131  37964
3210 Puerto Rico 72133  22066
3211 Puerto Rico 72135  73405
3212 Puerto Rico 72137  79726
3213 Puerto Rico 72139  67780
3214 Puerto Rico 72141  29402
3215 Puerto Rico 72143  37724
3216 Puerto Rico 72145  53371
3217 Puerto Rico 72147   8771
3218 Puerto Rico 72149  22993
3219 Puerto Rico 72151  34149
3220 Puerto Rico 72153  36439

### left_join( ), mutate( ), filter( ), group_by( )

In [7]:
county_level <- nytcovcounty %>%
    dplyr::left_join(pop_county, by = c("state","fips")) %>%
    dplyr::mutate(cases.per.10k = cases/population * 1e4) %>%
    dplyr::filter(state %in% c("Iowa","Illinois")) %>%
    dplyr::group_by(county)
county_level

      date       county        state    fips  cases deaths population
1     2020-01-24 Cook          Illinois 17031 1     0      5223719
2     2020-01-25 Cook          Illinois 17031 1     0      5223719
3     2020-01-26 Cook          Illinois 17031 1     0      5223719
4     2020-01-27 Cook          Illinois 17031 1     0      5223719
5     2020-01-28 Cook          Illinois 17031 1     0      5223719
6     2020-01-29 Cook          Illinois 17031 1     0      5223719
7     2020-01-30 Cook          Illinois 17031 2     0      5223719
8     2020-01-31 Cook          Illinois 17031 2     0      5223719
9     2020-02-01 Cook          Illinois 17031 2     0      5223719
10    2020-02-02 Cook          Illinois 17031 2     0      5223719
11    2020-02-03 Cook          Illinois 17031 2     0      5223719
12    2020-02-04 Cook          Illinois 17031 2     0      5223719
13    2020-02-05 Cook          Illinois 17031 2     0      5223719
14    2020-02-06 Cook          Illinois 17031 2     0      5223719
15    2020-02-07 Cook          Illinois 17031 2     0      5223719
16    2020-02-08 Cook          Illinois 17031 2     0      5223719
17    2020-02-09 Cook          Illinois 17031 2     0      5223719
18    2020-02-10 Cook          Illinois 17031 2     0      5223719
19    2020-02-11 Cook          Illinois 17031 2     0      5223719
20    2020-02-12 Cook          Illinois 17031 2     0      5223719
21    2020-02-13 Cook          Illinois 17031 2     0      5223719
22    2020-02-14 Cook          Illinois 17031 2     0      5223719
23    2020-02-15 Cook          Illinois 17031 2     0      5223719
24    2020-02-16 Cook          Illinois 17031 2     0      5223719
25    2020-02-17 Cook          Illinois 17031 2     0      5223719
26    2020-02-18 Cook          Illinois 17031 2     0      5223719
27    2020-02-19 Cook          Illinois 17031 2     0      5223719
28    2020-02-20 Cook          Illinois 17031 2     0      5223719
29    2020-02-21 Cook          Illinois 17031 2     0      5223719
30    2020-02-22 Cook          Illinois 17031 2     0      5223719
⋮     ⋮          ⋮             ⋮        ⋮     ⋮     ⋮      ⋮
22447 2020-07-21 O'Brien       Iowa     19141  108    1     13911
22448 2020-07-21 Osceola       Iowa     19143   71    0      6115
22449 2020-07-21 Page          Iowa     19145   38    0     15363
22450 2020-07-21 Palo Alto     Iowa     19147   62    0      9055
22451 2020-07-21 Plymouth      Iowa     19149  386    6     25039
22452 2020-07-21 Pocahontas    Iowa     19151  109    1      6898
22453 2020-07-21 Polk          Iowa     19153 8557  189    474274
22454 2020-07-21 Pottawattamie Iowa     19155  944   16     93503
22455 2020-07-21 Poweshiek     Iowa     19157  114    8     18605
22456 2020-07-21 Ringgold      Iowa     19159   18    1      4984
22457 2020-07-21 Sac           Iowa     19161   75    0      9868
22458 2020-07-21 Scott         Iowa     19163 1335   11    172288
22459 2020-07-21 Shelby        Iowa     19165  126    0     11694
22460 2020-07-21 Sioux         Iowa     19167  538    0     34825
22461 2020-07-21 Story         Iowa     19169  970   10     96922
22462 2020-07-21 Tama          Iowa     19171  511   29     17136
22463 2020-07-21 Taylor        Iowa     19173   83    0      6201
22464 2020-07-21 Union         Iowa     19175   56    1     12453
22465 2020-07-21 Unknown       Iowa     NA      16    0        NA
22466 2020-07-21 Van Buren     Iowa     19177   22    1      7223
22467 2020-07-21 Wapello       Iowa     19179  757   31     35315
22468 2020-07-21 Warren        Iowa     19181  419    1     49361
22469 2020-07-21 Washington    Iowa     19183  269    9     22143
22470 2020-07-21 Wayne         Iowa     19185   11    1      6413
22471 2020-07-21 Webster       Iowa     19187  565    5     36757
22472 2020-07-21 Winnebago     Iowa     19189   59    0     10571
22473 2020-07-21 Winneshiek    Iowa     19191   62    1     20401
22474 2020-07-21 Woodbury      Iowa     19193 3492   46    102398
22475 2020-07-21 Worth         Iowa     19195   46    0      7489
22476 2020-07-21 Wright        Iowa     19197  419    1     12804
      cases.per.10k
1     0.001914345
2     0.001914345
3     0.001914345
4     0.001914345
5     0.001914345
6     0.001914345
7     0.003828690
8     0.003828690
9     0.003828690
10    0.003828690
11    0.003828690
12    0.003828690
13    0.003828690
14    0.003828690
15    0.003828690
16    0.003828690
17    0.003828690
18    0.003828690
19    0.003828690
20    0.003828690
21    0.003828690
22    0.003828690
23    0.003828690
24    0.003828690
25    0.003828690
26    0.003828690
27    0.003828690
28    0.003828690
29    0.003828690
30    0.003828690
⋮     ⋮
22447  77.63640
22448 116.10793
22449  24.73475
22450  68.47046
22451 154.15951
22452 158.01682
22453 180.42313
22454 100.95933
22455  61.27385
22456  36.11557
22457  76.00324
22458  77.48653
22459 107.74756
22460 154.48672
22461 100.08048
22462 298.20261
22463 133.84938
22464  44.96908
22465        NA
22466  30.45826
22467 214.35651
22468  84.88483
22469 121.48309
22470  17.15266
22471 153.71222
22472  55.81307
22473  30.39067
22474 341.02229
22475  61.42342
22476 327.24149

In [8]:
nytcovcounty

       date       county      state      fips  cases deaths
1      2020-01-21 Snohomish   Washington 53061 1     0
2      2020-01-22 Snohomish   Washington 53061 1     0
3      2020-01-23 Snohomish   Washington 53061 1     0
4      2020-01-24 Cook        Illinois   17031 1     0
5      2020-01-24 Snohomish   Washington 53061 1     0
6      2020-01-25 Orange      California 06059 1     0
7      2020-01-25 Cook        Illinois   17031 1     0
8      2020-01-25 Snohomish   Washington 53061 1     0
9      2020-01-26 Maricopa    Arizona    04013 1     0
10     2020-01-26 Los Angeles California 06037 1     0
11     2020-01-26 Orange      California 06059 1     0
12     2020-01-26 Cook        Illinois   17031 1     0
13     2020-01-26 Snohomish   Washington 53061 1     0
14     2020-01-27 Maricopa    Arizona    04013 1     0
15     2020-01-27 Los Angeles California 06037 1     0
16     2020-01-27 Orange      California 06059 1     0
17     2020-01-27 Cook        Illinois   17031 1     0
18     2020-01-27 Snohomish   Washington 53061 1     0
19     2020-01-28 Maricopa    Arizona    04013 1     0
20     2020-01-28 Los Angeles California 06037 1     0
21     2020-01-28 Orange      California 06059 1     0
22     2020-01-28 Cook        Illinois   17031 1     0
23     2020-01-28 Snohomish   Washington 53061 1     0
24     2020-01-29 Maricopa    Arizona    04013 1     0
25     2020-01-29 Los Angeles California 06037 1     0
26     2020-01-29 Orange      California 06059 1     0
27     2020-01-29 Cook        Illinois   17031 1     0
28     2020-01-29 Snohomish   Washington 53061 1     0
29     2020-01-30 Maricopa    Arizona    04013 1     0
30     2020-01-30 Los Angeles California 06037 1     0
⋮      ⋮          ⋮           ⋮          ⋮     ⋮     ⋮
356743 2020-07-21 Washburn    Wisconsin  55129    8   0
356744 2020-07-21 Washington  Wisconsin  55131  616  20
356745 2020-07-21 Waukesha    Wisconsin  55133 2449  42
356746 2020-07-21 Waupaca     Wisconsin  55135  239  14
356747 2020-07-21 Waushara    Wisconsin  55137   56   0
356748 2020-07-21 Winnebago   Wisconsin  55139  876  14
356749 2020-07-21 Wood        Wisconsin  55141  140   1
356750 2020-07-21 Albany      Wyoming    56001   73   0
356751 2020-07-21 Big Horn    Wyoming    56003   32   0
356752 2020-07-21 Campbell    Wyoming    56005   97   1
356753 2020-07-21 Carbon      Wyoming    56007   42   1
356754 2020-07-21 Converse    Wyoming    56009   30   0
356755 2020-07-21 Crook       Wyoming    56011    9   0
356756 2020-07-21 Fremont     Wyoming    56013  431  10
356757 2020-07-21 Goshen      Wyoming    56015   11   0
356758 2020-07-21 Hot Springs Wyoming    56017   15   0
356759 2020-07-21 Johnson     Wyoming    56019   22   1
356760 2020-07-21 Laramie     Wyoming    56021  388   3
356761 2020-07-21 Lincoln     Wyoming    56023   64   0
356762 2020-07-21 Natrona     Wyoming    56025  181   1
356763 2020-07-21 Niobrara    Wyoming    56027    2   0
356764 2020-07-21 Park        Wyoming    56029   89   0
356765 2020-07-21 Platte      Wyoming    56031    4   0
356766 2020-07-21 Sheridan    Wyoming    56033   40   0
356767 2020-07-21 Sublette    Wyoming    56035   18   0
356768 2020-07-21 Sweetwater  Wyoming    56037  194   2
356769 2020-07-21 Teton       Wyoming    56039  226   1
356770 2020-07-21 Uinta       Wyoming    56041  223   0
356771 2020-07-21 Washakie    Wyoming    56043   43   5
356772 2020-07-21 Weston      Wyoming    56045    4   0

In [9]:
# Again breaks it down
county.left_join <- left_join(x = nytcovcounty,
                              y = pop_county,
                              by = c("state","fips"))
county.left_join

       date       county      state      fips  cases deaths population
1      2020-01-21 Snohomish   Washington 53061 1     0        786620
2      2020-01-22 Snohomish   Washington 53061 1     0        786620
3      2020-01-23 Snohomish   Washington 53061 1     0        786620
4      2020-01-24 Cook        Illinois   17031 1     0       5223719
5      2020-01-24 Snohomish   Washington 53061 1     0        786620
6      2020-01-25 Orange      California 06059 1     0       3164182
7      2020-01-25 Cook        Illinois   17031 1     0       5223719
8      2020-01-25 Snohomish   Washington 53061 1     0        786620
9      2020-01-26 Maricopa    Arizona    04013 1     0       4253913
10     2020-01-26 Los Angeles California 06037 1     0      10098052
11     2020-01-26 Orange      California 06059 1     0       3164182
12     2020-01-26 Cook        Illinois   17031 1     0       5223719
13     2020-01-26 Snohomish   Washington 53061 1     0        786620
14     2020-01-27 Maricopa    Arizona    04013 1     0       4253913
15     2020-01-27 Los Angeles California 06037 1     0      10098052
16     2020-01-27 Orange      California 06059 1     0       3164182
17     2020-01-27 Cook        Illinois   17031 1     0       5223719
18     2020-01-27 Snohomish   Washington 53061 1     0        786620
19     2020-01-28 Maricopa    Arizona    04013 1     0       4253913
20     2020-01-28 Los Angeles California 06037 1     0      10098052
21     2020-01-28 Orange      California 06059 1     0       3164182
22     2020-01-28 Cook        Illinois   17031 1     0       5223719
23     2020-01-28 Snohomish   Washington 53061 1     0        786620
24     2020-01-29 Maricopa    Arizona    04013 1     0       4253913
25     2020-01-29 Los Angeles California 06037 1     0      10098052
26     2020-01-29 Orange      California 06059 1     0       3164182
27     2020-01-29 Cook        Illinois   17031 1     0       5223719
28     2020-01-29 Snohomish   Washington 53061 1     0        786620
29     2020-01-30 Maricopa    Arizona    04013 1     0       4253913
30     2020-01-30 Los Angeles California 06037 1     0      10098052
⋮      ⋮          ⋮           ⋮          ⋮     ⋮     ⋮      ⋮
356743 2020-07-21 Washburn    Wisconsin  55129    8   0      15689
356744 2020-07-21 Washington  Wisconsin  55131  616  20     134535
356745 2020-07-21 Waukesha    Wisconsin  55133 2449  42     398879
356746 2020-07-21 Waupaca     Wisconsin  55135  239  14      51444
356747 2020-07-21 Waushara    Wisconsin  55137   56   0      24116
356748 2020-07-21 Winnebago   Wisconsin  55139  876  14     169926
356749 2020-07-21 Wood        Wisconsin  55141  140   1      73274
356750 2020-07-21 Albany      Wyoming    56001   73   0      38102
356751 2020-07-21 Big Horn    Wyoming    56003   32   0      11901
356752 2020-07-21 Campbell    Wyoming    56005   97   1      47708
356753 2020-07-21 Carbon      Wyoming    56007   42   1      15477
356754 2020-07-21 Converse    Wyoming    56009   30   0      13997
356755 2020-07-21 Crook       Wyoming    56011    9   0       7410
356756 2020-07-21 Fremont     Wyoming    56013  431  10      40076
356757 2020-07-21 Goshen      Wyoming    56015   11   0      13438
356758 2020-07-21 Hot Springs Wyoming    56017   15   0       4680
356759 2020-07-21 Johnson     Wyoming    56019   22   1       8515
356760 2020-07-21 Laramie     Wyoming    56021  388   3      97692
356761 2020-07-21 Lincoln     Wyoming    56023   64   0      19011
356762 2020-07-21 Natrona     Wyoming    56025  181   1      80610
356763 2020-07-21 Niobrara    Wyoming    56027    2   0       2448
356764 2020-07-21 Park        Wyoming    56029   89   0      29121
356765 2020-07-21 Platte      Wyoming    56031    4   0       8673
356766 2020-07-21 Sheridan    Wyoming    56033   40   0      30012
356767 2020-07-21 Sublette    Wyoming    56035   18   0       9951
356768 2020-07-21 Sweetwater  Wyoming    56037  194   2      44117
356769 2020-07-21 Teton       Wyoming    56039  226   1      23059
356770 2020-07-21 Uinta       Wyoming    56041  223   0      20609
356771 2020-07-21 Washakie    Wyoming    56043   43   5       8129
356772 2020-07-21 Weston      Wyoming    56045    4   0       7100

In [10]:
county.left_join.mutate <- mutate(`.data` = county.left_join,
                                  cases.per.10k = cases/population * 1e4)
county.left_join.mutate

       date       county      state      fips  cases deaths population
1      2020-01-21 Snohomish   Washington 53061 1     0        786620
2      2020-01-22 Snohomish   Washington 53061 1     0        786620
3      2020-01-23 Snohomish   Washington 53061 1     0        786620
4      2020-01-24 Cook        Illinois   17031 1     0       5223719
5      2020-01-24 Snohomish   Washington 53061 1     0        786620
6      2020-01-25 Orange      California 06059 1     0       3164182
7      2020-01-25 Cook        Illinois   17031 1     0       5223719
8      2020-01-25 Snohomish   Washington 53061 1     0        786620
9      2020-01-26 Maricopa    Arizona    04013 1     0       4253913
10     2020-01-26 Los Angeles California 06037 1     0      10098052
11     2020-01-26 Orange      California 06059 1     0       3164182
12     2020-01-26 Cook        Illinois   17031 1     0       5223719
13     2020-01-26 Snohomish   Washington 53061 1     0        786620
14     2020-01-27 Maricopa    Arizona    04013 1     0       4253913
15     2020-01-27 Los Angeles California 06037 1     0      10098052
16     2020-01-27 Orange      California 06059 1     0       3164182
17     2020-01-27 Cook        Illinois   17031 1     0       5223719
18     2020-01-27 Snohomish   Washington 53061 1     0        786620
19     2020-01-28 Maricopa    Arizona    04013 1     0       4253913
20     2020-01-28 Los Angeles California 06037 1     0      10098052
21     2020-01-28 Orange      California 06059 1     0       3164182
22     2020-01-28 Cook        Illinois   17031 1     0       5223719
23     2020-01-28 Snohomish   Washington 53061 1     0        786620
24     2020-01-29 Maricopa    Arizona    04013 1     0       4253913
25     2020-01-29 Los Angeles California 06037 1     0      10098052
26     2020-01-29 Orange      California 06059 1     0       3164182
27     2020-01-29 Cook        Illinois   17031 1     0       5223719
28     2020-01-29 Snohomish   Washington 53061 1     0        786620
29     2020-01-30 Maricopa    Arizona    04013 1     0       4253913
30     2020-01-30 Los Angeles California 06037 1     0      10098052
⋮      ⋮          ⋮           ⋮          ⋮     ⋮     ⋮      ⋮
356743 2020-07-21 Washburn    Wisconsin  55129    8   0      15689
356744 2020-07-21 Washington  Wisconsin  55131  616  20     134535
356745 2020-07-21 Waukesha    Wisconsin  55133 2449  42     398879
356746 2020-07-21 Waupaca     Wisconsin  55135  239  14      51444
356747 2020-07-21 Waushara    Wisconsin  55137   56   0      24116
356748 2020-07-21 Winnebago   Wisconsin  55139  876  14     169926
356749 2020-07-21 Wood        Wisconsin  55141  140   1      73274
356750 2020-07-21 Albany      Wyoming    56001   73   0      38102
356751 2020-07-21 Big Horn    Wyoming    56003   32   0      11901
356752 2020-07-21 Campbell    Wyoming    56005   97   1      47708
356753 2020-07-21 Carbon      Wyoming    56007   42   1      15477
356754 2020-07-21 Converse    Wyoming    56009   30   0      13997
356755 2020-07-21 Crook       Wyoming    56011    9   0       7410
356756 2020-07-21 Fremont     Wyoming    56013  431  10      40076
356757 2020-07-21 Goshen      Wyoming    56015   11   0      13438
356758 2020-07-21 Hot Springs Wyoming    56017   15   0       4680
356759 2020-07-21 Johnson     Wyoming    56019   22   1       8515
356760 2020-07-21 Laramie     Wyoming    56021  388   3      97692
356761 2020-07-21 Lincoln     Wyoming    56023   64   0      19011
356762 2020-07-21 Natrona     Wyoming    56025  181   1      80610
356763 2020-07-21 Niobrara    Wyoming    56027    2   0       2448
356764 2020-07-21 Park        Wyoming    56029   89   0      29121
356765 2020-07-21 Platte      Wyoming    56031    4   0       8673
356766 2020-07-21 Sheridan    Wyoming    56033   40   0      30012
356767 2020-07-21 Sublette    Wyoming    56035   18   0       9951
356768 2020-07-21 Sweetwater  Wyoming    56037  194   2      44117
356769 2020-07-21 Teton       Wyoming    56039  226   1      23059
356770 2020-07-21 Uinta       Wyoming    56041  223   0      20609
356771 2020-07-21 Washakie    Wyoming    56043   43   5       8129
356772 2020-07-21 Weston      Wyoming    56045    4   0       7100
       cases.per.10k
1      0.012712619
2      0.012712619
3      0.012712619
4      0.001914345
5      0.012712619
6      0.003160374
7      0.001914345
8      0.012712619
9      0.002350777
10     0.000990290
11     0.003160374
12     0.001914345
13     0.012712619
14     0.002350777
15     0.000990290
16     0.003160374
17     0.001914345
18     0.012712619
19     0.002350777
20     0.000990290
21     0.003160374
22     0.001914345
23     0.012712619
24     0.002350777
25     0.000990290
26     0.003160374
27     0.001914345
28     0.012712619
29     0.002350777
30     0.000990290
⋮      ⋮
356743   5.099114
356744  45.787342
356745  61.397065
356746  46.458285
356747  23.221098
356748  51.551852
356749  19.106368
356750  19.159099
356751  26.888497
356752  20.332020
356753  27.137042
356754  21.433164
356755  12.145749
356756 107.545663
356757   8.185742
356758  32.051282
356759  25.836759
356760  39.716661
356761  33.664720
356762  22.453790
356763   8.169935
356764  30.562137
356765   4.612014
356766  13.328002
356767  18.088634
356768  43.973978
356769  98.009454
356770 108.205153
356771  52.897035
356772   5.633803

In [11]:
county.left_join.mutate.filter <- dplyr::filter(`.data` = county.left_join.mutate,
                                                state %in% c("Iowa","Illinois"))
county.left_join.mutate.filter

      date       county        state    fips  cases deaths population
1     2020-01-24 Cook          Illinois 17031 1     0      5223719
2     2020-01-25 Cook          Illinois 17031 1     0      5223719
3     2020-01-26 Cook          Illinois 17031 1     0      5223719
4     2020-01-27 Cook          Illinois 17031 1     0      5223719
5     2020-01-28 Cook          Illinois 17031 1     0      5223719
6     2020-01-29 Cook          Illinois 17031 1     0      5223719
7     2020-01-30 Cook          Illinois 17031 2     0      5223719
8     2020-01-31 Cook          Illinois 17031 2     0      5223719
9     2020-02-01 Cook          Illinois 17031 2     0      5223719
10    2020-02-02 Cook          Illinois 17031 2     0      5223719
11    2020-02-03 Cook          Illinois 17031 2     0      5223719
12    2020-02-04 Cook          Illinois 17031 2     0      5223719
13    2020-02-05 Cook          Illinois 17031 2     0      5223719
14    2020-02-06 Cook          Illinois 17031 2     0      5223719
15    2020-02-07 Cook          Illinois 17031 2     0      5223719
16    2020-02-08 Cook          Illinois 17031 2     0      5223719
17    2020-02-09 Cook          Illinois 17031 2     0      5223719
18    2020-02-10 Cook          Illinois 17031 2     0      5223719
19    2020-02-11 Cook          Illinois 17031 2     0      5223719
20    2020-02-12 Cook          Illinois 17031 2     0      5223719
21    2020-02-13 Cook          Illinois 17031 2     0      5223719
22    2020-02-14 Cook          Illinois 17031 2     0      5223719
23    2020-02-15 Cook          Illinois 17031 2     0      5223719
24    2020-02-16 Cook          Illinois 17031 2     0      5223719
25    2020-02-17 Cook          Illinois 17031 2     0      5223719
26    2020-02-18 Cook          Illinois 17031 2     0      5223719
27    2020-02-19 Cook          Illinois 17031 2     0      5223719
28    2020-02-20 Cook          Illinois 17031 2     0      5223719
29    2020-02-21 Cook          Illinois 17031 2     0      5223719
30    2020-02-22 Cook          Illinois 17031 2     0      5223719
⋮     ⋮          ⋮             ⋮        ⋮     ⋮     ⋮      ⋮
22447 2020-07-21 O'Brien       Iowa     19141  108    1     13911
22448 2020-07-21 Osceola       Iowa     19143   71    0      6115
22449 2020-07-21 Page          Iowa     19145   38    0     15363
22450 2020-07-21 Palo Alto     Iowa     19147   62    0      9055
22451 2020-07-21 Plymouth      Iowa     19149  386    6     25039
22452 2020-07-21 Pocahontas    Iowa     19151  109    1      6898
22453 2020-07-21 Polk          Iowa     19153 8557  189    474274
22454 2020-07-21 Pottawattamie Iowa     19155  944   16     93503
22455 2020-07-21 Poweshiek     Iowa     19157  114    8     18605
22456 2020-07-21 Ringgold      Iowa     19159   18    1      4984
22457 2020-07-21 Sac           Iowa     19161   75    0      9868
22458 2020-07-21 Scott         Iowa     19163 1335   11    172288
22459 2020-07-21 Shelby        Iowa     19165  126    0     11694
22460 2020-07-21 Sioux         Iowa     19167  538    0     34825
22461 2020-07-21 Story         Iowa     19169  970   10     96922
22462 2020-07-21 Tama          Iowa     19171  511   29     17136
22463 2020-07-21 Taylor        Iowa     19173   83    0      6201
22464 2020-07-21 Union         Iowa     19175   56    1     12453
22465 2020-07-21 Unknown       Iowa     NA      16    0        NA
22466 2020-07-21 Van Buren     Iowa     19177   22    1      7223
22467 2020-07-21 Wapello       Iowa     19179  757   31     35315
22468 2020-07-21 Warren        Iowa     19181  419    1     49361
22469 2020-07-21 Washington    Iowa     19183  269    9     22143
22470 2020-07-21 Wayne         Iowa     19185   11    1      6413
22471 2020-07-21 Webster       Iowa     19187  565    5     36757
22472 2020-07-21 Winnebago     Iowa     19189   59    0     10571
22473 2020-07-21 Winneshiek    Iowa     19191   62    1     20401
22474 2020-07-21 Woodbury      Iowa     19193 3492   46    102398
22475 2020-07-21 Worth         Iowa     19195   46    0      7489
22476 2020-07-21 Wright        Iowa     19197  419    1     12804
      cases.per.10k
1     0.001914345
2     0.001914345
3     0.001914345
4     0.001914345
5     0.001914345
6     0.001914345
7     0.003828690
8     0.003828690
9     0.003828690
10    0.003828690
11    0.003828690
12    0.003828690
13    0.003828690
14    0.003828690
15    0.003828690
16    0.003828690
17    0.003828690
18    0.003828690
19    0.003828690
20    0.003828690
21    0.003828690
22    0.003828690
23    0.003828690
24    0.003828690
25    0.003828690
26    0.003828690
27    0.003828690
28    0.003828690
29    0.003828690
30    0.003828690
⋮     ⋮
22447  77.63640
22448 116.10793
22449  24.73475
22450  68.47046
22451 154.15951
22452 158.01682
22453 180.42313
22454 100.95933
22455  61.27385
22456  36.11557
22457  76.00324
22458  77.48653
22459 107.74756
22460 154.48672
22461 100.08048
22462 298.20261
22463 133.84938
22464  44.96908
22465        NA
22466  30.45826
22467 214.35651
22468  84.88483
22469 121.48309
22470  17.15266
22471 153.71222
22472  55.81307
22473  30.39067
22474 341.02229
22475  61.42342
22476 327.24149

In [12]:
county.left_join.mutate.filter.group_by <- dplyr::group_by(`.data` = county.left_join.mutate.filter,
                                                           cases)
county.left_join.mutate.filter.group_by

      date       county        state    fips  cases deaths population
1     2020-01-24 Cook          Illinois 17031 1     0      5223719
2     2020-01-25 Cook          Illinois 17031 1     0      5223719
3     2020-01-26 Cook          Illinois 17031 1     0      5223719
4     2020-01-27 Cook          Illinois 17031 1     0      5223719
5     2020-01-28 Cook          Illinois 17031 1     0      5223719
6     2020-01-29 Cook          Illinois 17031 1     0      5223719
7     2020-01-30 Cook          Illinois 17031 2     0      5223719
8     2020-01-31 Cook          Illinois 17031 2     0      5223719
9     2020-02-01 Cook          Illinois 17031 2     0      5223719
10    2020-02-02 Cook          Illinois 17031 2     0      5223719
11    2020-02-03 Cook          Illinois 17031 2     0      5223719
12    2020-02-04 Cook          Illinois 17031 2     0      5223719
13    2020-02-05 Cook          Illinois 17031 2     0      5223719
14    2020-02-06 Cook          Illinois 17031 2     0      5223719
15    2020-02-07 Cook          Illinois 17031 2     0      5223719
16    2020-02-08 Cook          Illinois 17031 2     0      5223719
17    2020-02-09 Cook          Illinois 17031 2     0      5223719
18    2020-02-10 Cook          Illinois 17031 2     0      5223719
19    2020-02-11 Cook          Illinois 17031 2     0      5223719
20    2020-02-12 Cook          Illinois 17031 2     0      5223719
21    2020-02-13 Cook          Illinois 17031 2     0      5223719
22    2020-02-14 Cook          Illinois 17031 2     0      5223719
23    2020-02-15 Cook          Illinois 17031 2     0      5223719
24    2020-02-16 Cook          Illinois 17031 2     0      5223719
25    2020-02-17 Cook          Illinois 17031 2     0      5223719
26    2020-02-18 Cook          Illinois 17031 2     0      5223719
27    2020-02-19 Cook          Illinois 17031 2     0      5223719
28    2020-02-20 Cook          Illinois 17031 2     0      5223719
29    2020-02-21 Cook          Illinois 17031 2     0      5223719
30    2020-02-22 Cook          Illinois 17031 2     0      5223719
⋮     ⋮          ⋮             ⋮        ⋮     ⋮     ⋮      ⋮
22447 2020-07-21 O'Brien       Iowa     19141  108    1     13911
22448 2020-07-21 Osceola       Iowa     19143   71    0      6115
22449 2020-07-21 Page          Iowa     19145   38    0     15363
22450 2020-07-21 Palo Alto     Iowa     19147   62    0      9055
22451 2020-07-21 Plymouth      Iowa     19149  386    6     25039
22452 2020-07-21 Pocahontas    Iowa     19151  109    1      6898
22453 2020-07-21 Polk          Iowa     19153 8557  189    474274
22454 2020-07-21 Pottawattamie Iowa     19155  944   16     93503
22455 2020-07-21 Poweshiek     Iowa     19157  114    8     18605
22456 2020-07-21 Ringgold      Iowa     19159   18    1      4984
22457 2020-07-21 Sac           Iowa     19161   75    0      9868
22458 2020-07-21 Scott         Iowa     19163 1335   11    172288
22459 2020-07-21 Shelby        Iowa     19165  126    0     11694
22460 2020-07-21 Sioux         Iowa     19167  538    0     34825
22461 2020-07-21 Story         Iowa     19169  970   10     96922
22462 2020-07-21 Tama          Iowa     19171  511   29     17136
22463 2020-07-21 Taylor        Iowa     19173   83    0      6201
22464 2020-07-21 Union         Iowa     19175   56    1     12453
22465 2020-07-21 Unknown       Iowa     NA      16    0        NA
22466 2020-07-21 Van Buren     Iowa     19177   22    1      7223
22467 2020-07-21 Wapello       Iowa     19179  757   31     35315
22468 2020-07-21 Warren        Iowa     19181  419    1     49361
22469 2020-07-21 Washington    Iowa     19183  269    9     22143
22470 2020-07-21 Wayne         Iowa     19185   11    1      6413
22471 2020-07-21 Webster       Iowa     19187  565    5     36757
22472 2020-07-21 Winnebago     Iowa     19189   59    0     10571
22473 2020-07-21 Winneshiek    Iowa     19191   62    1     20401
22474 2020-07-21 Woodbury      Iowa     19193 3492   46    102398
22475 2020-07-21 Worth         Iowa     19195   46    0      7489
22476 2020-07-21 Wright        Iowa     19197  419    1     12804
      cases.per.10k
1     0.001914345
2     0.001914345
3     0.001914345
4     0.001914345
5     0.001914345
6     0.001914345
7     0.003828690
8     0.003828690
9     0.003828690
10    0.003828690
11    0.003828690
12    0.003828690
13    0.003828690
14    0.003828690
15    0.003828690
16    0.003828690
17    0.003828690
18    0.003828690
19    0.003828690
20    0.003828690
21    0.003828690
22    0.003828690
23    0.003828690
24    0.003828690
25    0.003828690
26    0.003828690
27    0.003828690
28    0.003828690
29    0.003828690
30    0.003828690
⋮     ⋮
22447  77.63640
22448 116.10793
22449  24.73475
22450  68.47046
22451 154.15951
22452 158.01682
22453 180.42313
22454 100.95933
22455  61.27385
22456  36.11557
22457  76.00324
22458  77.48653
22459 107.74756
22460 154.48672
22461 100.08048
22462 298.20261
22463 133.84938
22464  44.96908
22465        NA
22466  30.45826
22467 214.35651
22468  84.88483
22469 121.48309
22470  17.15266
22471 153.71222
22472  55.81307
22473  30.39067
22474 341.02229
22475  61.42342
22476 327.24149

In [13]:
pop_state <- pop_county %>%
    dplyr::group_by(state) %>%
    dplyr::summarise(population = sum(population, na.rm = TRUE))
pop_state

`summarise()` ungrouping output (override with `.groups` argument)

   state                population
1  Alabama               4864680
2  Alaska                 738516
3  Arizona               6946685
4  Arkansas              2990671
5  California           39148760
6  Colorado              5531141
7  Connecticut           3581504
8  Delaware               949495
9  District of Columbia   684498
10 Florida              20598139
11 Georgia              10297484
12 Hawaii                1422029
13 Idaho                 1687809
14 Illinois             12821497
15 Indiana               6637426
16 Iowa                  3132499
17 Kansas                2908776
18 Kentucky              4440204
19 Louisiana             4663616
20 Maine                 1332813
21 Maryland              6003435
22 Massachusetts         6830193
23 Michigan              9957488
24 Minnesota             5527358
25 Mississippi           2988762
26 Missouri              6090062
27 Montana               1041732
28 Nebraska              1904760
29 Nevada                2922849
30 New Hampshire         1343622
31 New Jersey            8881845
32 New Mexico            2092434
33 New York             19618453
34 North Carolina       10155624
35 North Dakota           752201
36 Ohio                 11641879
37 Oklahoma              3918137
38 Oregon                4081943
39 Pennsylvania         12791181
40 Puerto Rico           3386941
41 Rhode Island          1056611
42 South Carolina        4955925
43 South Dakota           864289
44 Tennessee             6651089
45 Texas                27885195
46 Utah                  3045350
47 Vermont                624977
48 Virginia              8413774
49 Washington            7294336
50 West Virginia         1829054
51 Wisconsin             5778394
52 Wyoming                581836

In [14]:
state_level <- county_level %>%
    dplyr::group_by(state, date) %>%
    dplyr::filter(date >= "2020-03-15") %>%
    dplyr::summarise(cases = sum(cases)) %>%
    dplyr::left_join(pop_state, by = "state") %>%
    dplyr::mutate(cases.per.10k = cases / population * 1e4, state = factor(state),
                  time = as.numeric(date - min(date)) + 1)
state_level

`summarise()` regrouping output by 'state' (override with `.groups` argument)

    state    date       cases population cases.per.10k time
1   Illinois 2020-03-15    94 12821497    0.07331437    1
2   Illinois 2020-03-16   104 12821497    0.08111377    2
3   Illinois 2020-03-17   159 12821497    0.12401048    3
4   Illinois 2020-03-18   286 12821497    0.22306288    4
5   Illinois 2020-03-19   420 12821497    0.32757485    5
6   Illinois 2020-03-20   583 12821497    0.45470509    6
7   Illinois 2020-03-21   751 12821497    0.58573504    7
8   Illinois 2020-03-22  1047 12821497    0.81659731    8
9   Illinois 2020-03-23  1285 12821497    1.00222306    9
10  Illinois 2020-03-24  1535 12821497    1.19720810   10
11  Illinois 2020-03-25  1874 12821497    1.46160780   11
12  Illinois 2020-03-26  2538 12821497    1.97948804   12
13  Illinois 2020-03-27  3029 12821497    2.36243865   13
14  Illinois 2020-03-28  3547 12821497    2.76644763   14
15  Illinois 2020-03-29  4615 12821497    3.59942369   15
16  Illinois 2020-03-30  5070 12821497    3.95429644   16
17  Illinois 2020-03-31  5992 12821497    4.67340124   17
18  Illinois 2020-04-01  6978 12821497    5.44242221   18
19  Illinois 2020-04-02  7695 12821497    6.00163928   19
20  Illinois 2020-04-03  8904 12821497    6.94458689   20
21  Illinois 2020-04-04 10357 12821497    8.07783990   21
22  Illinois 2020-04-05 11276 12821497    8.79460487   22
23  Illinois 2020-04-06 12262 12821497    9.56362584   23
24  Illinois 2020-04-07 13549 12821497   10.56740878   24
25  Illinois 2020-04-08 15078 12821497   11.75993724   25
26  Illinois 2020-04-09 16422 12821497   12.80817677   26
27  Illinois 2020-04-10 17887 12821497   13.95078905   27
28  Illinois 2020-04-11 19180 12821497   14.95925164   28
29  Illinois 2020-04-12 20852 12821497   16.26331153   29
30  Illinois 2020-04-13 22025 12821497   17.17818130   30
⋮   ⋮        ⋮          ⋮     ⋮          ⋮             ⋮
229 Iowa     2020-06-22 26217 3132499     83.69356     100
230 Iowa     2020-06-23 26470 3132499     84.50122     101
231 Iowa     2020-06-24 26897 3132499     85.86435     102
232 Iowa     2020-06-25 27384 3132499     87.41902     103
233 Iowa     2020-06-26 27828 3132499     88.83642     104
234 Iowa     2020-06-27 28203 3132499     90.03355     105
235 Iowa     2020-06-28 28520 3132499     91.04552     106
236 Iowa     2020-06-29 28874 3132499     92.17561     107
237 Iowa     2020-06-30 29152 3132499     93.06308     108
238 Iowa     2020-07-01 29618 3132499     94.55071     109
239 Iowa     2020-07-02 30259 3132499     96.59700     110
240 Iowa     2020-07-03 30631 3132499     97.78455     111
241 Iowa     2020-07-04 31167 3132499     99.49564     112
242 Iowa     2020-07-05 31612 3132499    100.91623     113
243 Iowa     2020-07-06 31764 3132499    101.40147     114
244 Iowa     2020-07-07 32153 3132499    102.64329     115
245 Iowa     2020-07-08 32716 3132499    104.44058     116
246 Iowa     2020-07-09 33316 3132499    106.35598     117
247 Iowa     2020-07-10 34232 3132499    109.28016     118
248 Iowa     2020-07-11 34695 3132499    110.75822     119
249 Iowa     2020-07-12 35410 3132499    113.04074     120
250 Iowa     2020-07-13 35631 3132499    113.74625     121
251 Iowa     2020-07-14 35942 3132499    114.73906     122
252 Iowa     2020-07-15 36536 3132499    116.63531     123
253 Iowa     2020-07-16 37414 3132499    119.43819     124
254 Iowa     2020-07-17 37903 3132499    120.99924     125
255 Iowa     2020-07-18 38314 3132499    122.31129     126
256 Iowa     2020-07-19 38813 3132499    123.90427     127
257 Iowa     2020-07-20 39343 3132499    125.59621     128
258 Iowa     2020-07-21 39721 3132499    126.80291     129

## 2. Revisit the exercise from last lecture

In [15]:
set.seed(613)
students <- rep(c("Lucy", "John", "Mark", "Candy", "Chris"), 3)
course <- rep(c("epib601", "epib607", "epib613"), each = 5)
scores <- sample(50:100, size = 15, replace = T)
program <- rep(c("EPIB", "EPIB", "EPIB", "PH", "PH"))

df <- data.frame(students, course, scores, program)
df <- df[sample(1:nrow(df)), ]   # shuffle the rows to make things more complicated
df

   students course  scores program
6  Lucy     epib607 82     EPIB
15 Chris    epib613 53     PH
7  John     epib607 98     EPIB
9  Candy    epib607 80     PH
4  Candy    epib601 68     PH
1  Lucy     epib601 57     EPIB
3  Mark     epib601 59     EPIB
14 Candy    epib613 61     PH
10 Chris    epib607 56     PH
5  Chris    epib601 64     PH
12 John     epib613 59     EPIB
13 Mark     epib613 80     EPIB
2  John     epib601 78     EPIB
11 Lucy     epib613 75     EPIB
8  Mark     epib607 57     EPIB

In [16]:
## A sample solution
my_wider <- function(data, pivot, names_from, values_from) {
  
  # reorder data - to take advantage of the ordering of factors
  data <- data[order(data[, pivot]), ]
  data <- data[order(data[, names_from]), ]
  
  # get column names
  col.names <- unique(data[, names_from])

  # get number of columns - one for each course
  n.col <- length(col.names)
  
  # generate pivot variable
  pivot.var <- unique(data[, pivot])
  
  # generate number of pivots
  n.pivot <- length(pivot.var)
  
  # generate value matrix
  value.mat <- matrix(data[, values_from], nrow = n.pivot, ncol = n.col, byrow = F)
  
  # assemble wide data frame
  data_wide <- data.frame(pivot.var, value.mat)
  
  # rename wide data frame
  names(data_wide) <- c(pivot, as.character(col.names))
  
  return(data_wide)
}

df_wide <- my_wider(df, pivot = "students", names_from = "course", values_from = "scores")
df_wide

  students epib601 epib607 epib613
1 Candy    68      80      61
2 Chris    64      56      53
3 John     78      98      59
4 Lucy     57      82      75
5 Mark     59      57      80

In [17]:
my_longer <- function(data, pivot, cols, names_to, values_to) {
  
  # extract the values
  values <- data[, cols]
  
  # change it to a vector, by column
  values <- as.vector(as.matrix(values))
  
  # determine number of cols
  n.col <- length(cols)
  
  # rep the pivot variable
  pivot.var <- rep(unlist(data[, pivot]), n.col)
  
  # determine the number of pivots
  n.pivot <- nrow(data)
  
  # make the names_to variable
  names_to.var <- rep(cols, each = n.pivot)
  
  # assemble long data frame
  data.long <- data.frame(pivot.var, names_to.var, values)
  
  # rename long data frame
  names(data.long) <- c(pivot, names_to, values_to)
  
  return(data.long)
  
}

my_longer(df_wide,
          pivot = "students",
          cols = c("epib601", "epib607", "epib613"),
          names_to = "course",
          values_to = "scores")

   students course  scores
1  Candy    epib601 68
2  Chris    epib601 64
3  John     epib601 78
4  Lucy     epib601 57
5  Mark     epib601 59
6  Candy    epib607 80
7  Chris    epib607 56
8  John     epib607 98
9  Lucy     epib607 82
10 Mark     epib607 57
11 Candy    epib613 61
12 Chris    epib613 53
13 John     epib613 59
14 Lucy     epib613 75
15 Mark     epib613 80

## 3. aggregate( )
- Performs some operation by group
- Like dplyr::group_by( ) %>% some operation

### 3.1 Calculate class average for the three courses

In [18]:
aggregate(scores ~ course, FUN = mean, data = df)

  course  scores
1 epib601 65.2
2 epib607 74.6
3 epib613 65.6

### 3.2 Calculate class average for the three courses by program

In [19]:
aggregate(scores ~ course + program, FUN = mean, data = df)

  course  program scores
1 epib601 EPIB    64.66667
2 epib607 EPIB    79.00000
3 epib613 EPIB    71.33333
4 epib601 PH      66.00000
5 epib607 PH      68.00000
6 epib613 PH      57.00000

### 3.3 Calculate a rounded class average
##### Very important! Very powerful! Write your own function to work with aggregate( ).

In [20]:
mean.rounded <- function(x) {
    round(mean(x))
}

aggregate(scores ~ course + program, FUN = mean.rounded, data = df)

  course  program scores
1 epib601 EPIB    65
2 epib607 EPIB    79
3 epib613 EPIB    71
4 epib601 PH      66
5 epib607 PH      68
6 epib613 PH      57

### 3.4 See how does aggregate( ) do its job

In [21]:
df

   students course  scores program
6  Lucy     epib607 82     EPIB
15 Chris    epib613 53     PH
7  John     epib607 98     EPIB
9  Candy    epib607 80     PH
4  Candy    epib601 68     PH
1  Lucy     epib601 57     EPIB
3  Mark     epib601 59     EPIB
14 Candy    epib613 61     PH
10 Chris    epib607 56     PH
5  Chris    epib601 64     PH
12 John     epib613 59     EPIB
13 Mark     epib613 80     EPIB
2  John     epib601 78     EPIB
11 Lucy     epib613 75     EPIB
8  Mark     epib607 57     EPIB

In [22]:
aggregate(scores ~ course, FUN = print, data = df)

[1] 68 57 59 64 78
[1] 82 98 80 56 57
[1] 53 61 59 80 75

  course  scores
1 epib601 68, 57, 59, 64, 78
2 epib607 82, 98, 80, 56, 57
3 epib613 53, 61, 59, 80, 75

### 3.5 Exercise: plot the covid cases trend for each county in Illinois