# <center>EPIB 613 INTRODUCTION TO STATISTICAL SOFTWARE</center>

<center> McGill EBOH </center>

<center> Fall 2020 </center>

<center> Yi Lian </center>

# Lecture 7
- Write our own function in R with function( )

##### So far, we have seen a lot of operators
- & | ! + - * /
- %%, %/%, %in%
- ...

Functions are more powerful "operators" in R.

##### Usually, functions take some inputs, perform some operations and return some output.

##### R functions take inputs in the arguments

In [1]:
# The structure

func_name <- function(argument) {
    statement
}

#### Example 1. Make a function for $f(a,b) = a - b$
See how R recognizes and uses the arguments

In [2]:
# Build the function
a_b <- function(a, b) {
    f = a - b
    return(f)
}

In [3]:
# Use the function
a_b(5, 3)

[1] 2

In [4]:
a_b(3, 5)

[1] -2

In [5]:
a_b(3, a = 5)

[1] 2

In [6]:
a_b(a = 5, b = 3)

[1] 2

In [7]:
a_b(b = 3, a = 5)

[1] 2

In [8]:
a_b(a = c(5,6,7), b = c(3,2,1))

[1] 2 4 6

#### Example 2. Make a function to calculate the integer division of $a$ by $b$, return the integer part and the modulus.
Note the different formats of output that function( ) allows.

In [9]:
# Recall
9 %/% 2
9 %% 2

[1] 4

[1] 1

In [10]:
int.div <- function(a, b){
    int <- floor(a/b)
    mod <- a - int*b
    return(list(integer = int, modulus = mod))
}

In [11]:
# Recall: how do we access the modulus?
result <- int.div(21, 4)
result

$integer
[1] 5

$modulus
[1] 1

In [12]:
str(result)

List of 2
 $ integer: num 5
 $ modulus: num 1

In [13]:
result$integer

[1] 5

In [14]:
int.div <- function(a, b){
    int <- a%/%b
    mod <- a%%b
    cat(a, "%%", b, ": \n integer =", int,"\n ------------------ \n modulus =", mod, "\n")
}
int.div(21, 4)

21 %% 4 :
 integer = 5
 ------------------
 modulus = 1

In [15]:
int.div <- function(a, b){
    int <- a%/%b
    mod <- a%%b
    output <- c(int, mod)
    names(output) <- c("integer", "modulus")
    return(output)
}
int.div(21, 4)

integer modulus
      5       1

#### Example 3. Make the simplest canadian AI chatbot
A function can return something other than an R object, say some voice.

In [16]:
# No need to worry about the details here.
# Just want to show that functions do not always have to return() something.
AIcanadian <- function(who, reply_to) {
    system(paste("say -v", who, "Sorry!"))
}
# AIcanadian("Alex", "Sorry I stepped on your foot.")

In [17]:
# Train my chatbot - AlphaGo style.
# I'll let Alex and Victoria talk to each other.
# MacOS has their voices recorded.
# chat_log <- rep(NA, 8)
# for (i in 1:8) {
#     if (i == 1) {
#         chat_log[1] <- "Sorry I stepped on your foot."
#         system("say -v Victoria Sorry, I stepped on your foot.")
#     } else {
#         if (i %% 2 == 0)
#             chat_log[i] <- AIcanadian("Alex", chat_log[i - 1])
#         else
#             chat_log[i] <- AIcanadian("Victoria", chat_log[i - 1])
#     }
# }
# chat_log

#### Example 4. Check one summary statistic of the score by class
Function arguments can be basically anything, say another function.

In [18]:
data_summary <- function(func) {
    data <- read.csv("https://raw.githubusercontent.com/ly129/EPIB613_2020/master/scores.csv", header = TRUE)
    by(data = data$scores, INDICES = list(data$course), FUN = func)
}
data_summary(summary)

: epib607
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   55.0    70.0    80.0    77.6    84.0    99.0
------------------------------------------------------------
: epib613
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
     40      62      85      73      88      90

#### Example 5. Default argument value, warning message and error message.

In [19]:
times_2_by_default_dislikes_3_hates_4 <- function(a, b = 2){
    
    if (b == 3) {
        warning("I dislike 3!")
    }
    
    if (b == 4) {
        stop("I hate 4!")
    }
    
    return(a*b)
}

In [20]:
times_2_by_default_dislikes_3_hates_4(a = 6)

[1] 12

In [21]:
times_2_by_default_dislikes_3_hates_4(a = 6, b = 3)

Warning message in times_2_by_default_dislikes_3_hates_4(a = 6, b = 3):
“I dislike 3!”

[1] 18

In [22]:
times_2_by_default_dislikes_3_hates_4(a = 6, b = 4)

ERROR: Error in times_2_by_default_dislikes_3_hates_4(a = 6, b = 4): I hate 4!

In [23]:
times_2_by_default_dislikes_3_hates_4(a = 6, b = 5)

[1] 30

### Exercise: make our own pivot_longer( ) / pivot_wider( )
https://tidyr.tidyverse.org/articles/pivot.html

R is a software with very high degree of freedom. There are always many ways to achieve the same goal. Writing our own functions tests our problem solving skills.

In [24]:
# Sample data
set.seed(613)
students <- rep(c("Lucy", "John", "Mark", "Candy", "Chris"), 3)
course <- rep(c("epib601", "epib607", "epib613"), each = 5)
scores <- sample(50:100, size = 15, replace = T)

df <- data.frame(students, course, scores)
df <- df[sample(1:nrow(df)), ]   # shuffle the rows to make things more complicated
df

   students course  scores
6  Lucy     epib607 82
15 Chris    epib613 53
7  John     epib607 98
9  Candy    epib607 80
4  Candy    epib601 68
1  Lucy     epib601 57
3  Mark     epib601 59
14 Candy    epib613 61
10 Chris    epib607 56
5  Chris    epib601 64
12 John     epib613 59
13 Mark     epib613 80
2  John     epib601 78
11 Lucy     epib613 75
8  Mark     epib607 57

In [25]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [26]:
df_wide <- pivot_wider(data = df, names_from = course, values_from = scores)
df_wide

  students epib607 epib613 epib601
1 Lucy     82      75      57
2 Chris    56      53      64
3 John     98      59      78
4 Candy    80      61      68
5 Mark     57      80      59

In [27]:
df_long <- pivot_longer(data = df_wide, cols = contains("epib"), names_to = "course", values_to = "scores")
df_long

   students course  scores
1  Lucy     epib607 82
2  Lucy     epib613 75
3  Lucy     epib601 57
4  Chris    epib607 56
5  Chris    epib613 53
6  Chris    epib601 64
7  John     epib607 98
8  John     epib613 59
9  John     epib601 78
10 Candy    epib607 80
11 Candy    epib613 61
12 Candy    epib601 68
13 Mark     epib607 57
14 Mark     epib613 80
15 Mark     epib601 59

In [28]:
# ?dplyr::select # for how to select columns\

##### Let's reproduce one of these two functions with function( ) from scratch!
I would take full advantage of the ordering of factors.

In [29]:
my_wider <- function(data, pivot, names_from, values_from) {
    
}

my_wider(df_long, pivot = "students", names_from = "course", values_from = "scores")

NULL

In [30]:
# In-class progress
my_longer <- function(data, pivot, cols, names_to, values_to) {
    # Figure out # of pivots - rep the col names by this many times
    n.pivot <- nrow(data)
    cat("n.pivot = ", n.pivot, "\n")
    
    # Figure out # of columns - rep the pivots by this many times
    n.col <- length(cols)
    cat("n.col = ", n.col, "\n")
    
    # replicate to what we want
    # (lucy, chris, ...) x n.col
    pivot.rep <- rep(data[, pivot], n.col)
    
    # (epib601 x n.pivot, epib607 x n.pivot, epib613 x n.pivot)
    name.rep <- rep(cols, each = n.pivot)
    
    # Extract the values - n.pivot by n.col
    
    # Transform to a vector of length (n.pivot x n.cols)
    
    # cbind rep'ed pivots, rep'ed col names, vectorized values
    
    # return
}

my_longer(df_wide,
          pivot = "students",
          cols = c("epib601", "epib607", "epib613"),
          names_to = "course",
          values_to = "scores")

n.pivot =  5
n.col =  3

##### A sample solution

In [31]:
## A sample solution
my_wider <- function(data, pivot, names_from, values_from) {
  
  # reorder data - to take advantage of 
  data <- data[order(data[, pivot]), ]
  data <- data[order(data[, names_from]), ]
  
  # get column names
  col.names <- unique(data[, names_from])

  # get number of columns - one for each course
  n.col <- length(col.names)
  
  # generate pivot variable
  pivot.var <- unique(data[, pivot])
  
  # generate number of pivots
  n.pivot <- length(pivot.var)
  
  # generate value matrix
  value.mat <- matrix(data[, values_from], nrow = n.pivot, ncol = n.col, byrow = F)
  
  # assemble wide data frame
  data_wide <- data.frame(pivot.var, value.mat)
  
  # rename wide data frame
  names(data_wide) <- c(pivot, as.character(col.names))
  
  return(data_wide)
}

df_wide <- my_wider(df, pivot = "students", names_from = "course", values_from = "scores")
df_wide

  students epib601 epib607 epib613
1 Candy    68      80      61
2 Chris    64      56      53
3 John     78      98      59
4 Lucy     57      82      75
5 Mark     59      57      80

In [32]:
my_longer <- function(data, pivot, cols, names_to, values_to) {
  
  # extract the values
  values <- data[, cols]
  
  # change it to a vector, by column
  values <- as.vector(as.matrix(values))
  
  # determine number of cols
  n.col <- length(cols)
  
  # rep the pivot variable
  pivot.var <- rep(unlist(data[, pivot]), n.col)
  
  # determine the number of pivots
  n.pivot <- nrow(data)
  
  # make the names_to variable
  names_to.var <- rep(cols, each = n.pivot)
  
  # assemble long data frame
  data.long <- data.frame(pivot.var, names_to.var, values)
  
  # rename long data frame
  names(data.long) <- c(pivot, names_to, values_to)
  
  return(data.long)
  
}

my_longer(df_wide,
          pivot = "students",
          cols = c("epib601", "epib607", "epib613"),
          names_to = "course",
          values_to = "scores")

   students course  scores
1  Candy    epib601 68
2  Chris    epib601 64
3  John     epib601 78
4  Lucy     epib601 57
5  Mark     epib601 59
6  Candy    epib607 80
7  Chris    epib607 56
8  John     epib607 98
9  Lucy     epib607 82
10 Mark     epib607 57
11 Candy    epib613 61
12 Chris    epib613 53
13 John     epib613 59
14 Lucy     epib613 75
15 Mark     epib613 80