In [2]:
students <- rep(c("Lucy", "John", "Mark", "Candy", "Chris"), times = 2)
scores <-  c(80, 99, 55, 70, 84, 85, 90, 62, 40, 88)
course <- rep(c("epib607", "epib613"), each = 5)
curve <- scores*1.1
pass <- curve >= 65 
df <- data.frame(students, course, scores, curve, pass); df
write.csv(df, "/Users/YLIAN/Desktop/Teaching/EPIB613/2020/EPIB613_2020/scores.csv")

   students course  scores curve pass
1  Lucy     epib607 80      88.0  TRUE
2  John     epib607 99     108.9  TRUE
3  Mark     epib607 55      60.5 FALSE
4  Candy    epib607 70      77.0  TRUE
5  Chris    epib607 84      92.4  TRUE
6  Lucy     epib613 85      93.5  TRUE
7  John     epib613 90      99.0  TRUE
8  Mark     epib613 62      68.2  TRUE
9  Candy    epib613 40      44.0 FALSE
10 Chris    epib613 88      96.8  TRUE