# EPIB 613 COURSE MATERIAL

- Fall 2020

- Yi Lian

## Table of Contents<a id='toc'></a>

- [Lecture 1](#l1)
    1. Course walkthrouth
    2. R and Rstudio
    3. R markdown
- [Lecture 2](#l2)
    1. Basic computations in R
    2. How to create an object
    3. Data types
    4. Data strctures
    5. How to generate data
    6. Operators

## <a id='l1'></a> [Lecture 1](#toc)
### 1.1 Course walkthrough
#### Logistics
- Location:
    - https://mcgill.zoom.us/j/98942683588?pwd=WnVBS0JkVmRCT0hCQlBJUjZBeXVmUT09

    - Meeting ID: 989 4268 3588

    - Passcode: 6132020
    
- Time: Fridays, 11:35-12:55
- Credits: 1
- Assignments: 3
- Contact: yi.lian@mail.mcgill.ca
- Office hours: by appointment

#### Objectives
- R programming
- Hands-on data management and analysis
- Preparation for other courses

#### Evaluations
- Pass/fail
    - Attend*
    - Participate*
    - Do your assignments
        - Submit via myCourses
        - __Must be in PDF format__
        - Code can be similar but written responses must be your own
        - Late assignments will be penalized by 10% per day
        
#### Zoom lectures
- Please mute your microphone
- Please raise hand for questions and comments
- Lectures will be recorded and posted on myCourses
- A second device and/or a second screen is recommended
    - One for viewing the lecture and the other for running your code
    
#### A few notes
- Be patient
    - with yourself, with R, with me
- Don't panic
    - I am always available
    - The [unofficial course TA](https://www.google.ca/) is always available
- Reproducibility
    - Annotate
    - Markdown

### 1.2 R and Rstudio
- R Console
    - It can do everything
    - Not very handy
    - Like most programming languages, people use an integrated development environment (IDE)
- Rstudio
    - The go-to IDE for R
    - A lot can be done through mouse-clicking
    - Cheatsheet https://github.com/rstudio/cheatsheets/raw/master/rstudio-ide.pdf

### 1.3 R Markdown
- A sample answer for your assignment
- Cheatsheet https://github.com/rstudio/cheatsheets/raw/master/rmarkdown-2.0.pdf

## <a id='l2'></a> [Lecture 2](#toc)
### 2.1 Basic computations in R

In [1]:
########## Lecture 2 ##########

In [2]:
2+3
2-3
2*3
2/3

[1] 5

[1] -1

[1] 6

[1] 0.6666667

In [5]:
2e3

[1] 2000

In [6]:
2^3; 8^(1/3)

[1] 8

[1] 2

In [7]:
sqrt(4)

[1] 2

In [3]:
log(4)    # Natural log

[1] 1.386294

In [4]:
exp(2)

[1] 7.389056

## 2.2 Create an R object
- Re-use the values by simply calling the the object
    - Reproducibility!
    - Avoid potential loss of precision
    - Avoid repeating expensive computation
- Can use variable names that make sense to yourself and to others
    - so that the others or the future you can better understand what you did

In [10]:
# Usually
x <- 5
x

[1] 5

In [11]:
y <- z <- 6
y
z

[1] 6

[1] 6

In [12]:
# <- , = and -> are equivalent when we assign values
instructor <- "Yi"
course = "EPIB 613"
"Fall 2020" -> semester

instructor; course; semester

[1] "Yi"

[1] "EPIB 613"

[1] "Fall 2020"

### Calculations with stored R objects

In [13]:
x + y

[1] 11

In [14]:
one.over.three <- 1/3
print(one.over.three)

[1] 0.3333333

In [15]:
one.over.three * 3

[1] 1

In [85]:
# If we copy-paste the result instead of saving it in an object
0.3333333 * 3
# loss of precision

[1] 0.9999999

### R is case sensitive.

In [16]:
course <- "EPIB 613"
Course <- "EPIB 601"
course

[1] "EPIB 613"

### The old value will be replaced by the new one.

In [17]:
x

[1] 5

In [18]:
x <- y
x

[1] 6

###### Rule for creating an object:
- Variables can be alphabetic or alphanumeric, but not numeric (you are not allowed to create numeric variables).
- There are no restrictions to the length of the variable name.
- Do NOT assign the single letter names c, g, t, C, D, F, I and T as they are default names that are used by <tt>R</tt>. For instance, T and F are abbreviations for TRUE and FALSE in logical operations. We should avoid using names that are already used by the system.

## 2.3 Data types

In [19]:
number <- c(1, 2, 3)
class(number)

[1] "numeric"

In [20]:
# As in most programming languages, there are integers and floating-point numbers in R
class(5L)

[1] "integer"

In [21]:
# Double precision floating-point numbers in R
# is.double() checks whether an object is a double precision floating-point number
is.double(5); is.double(5L)

[1] TRUE

[1] FALSE

In [22]:
# How precise is double precision?
print(1/3)
options(digits = 22) # show more decimal points
print(1/3)
options(digits = 7) # reset to default

[1] 0.3333333
[1] 0.3333333333333333148296

In [23]:
letters <- letters[1:3]; print(letters)
class(letters)

[1] "a" "b" "c"

[1] "character"

In [24]:
logical <- c(TRUE, FALSE)
class(logical)

[1] "logical"

In [25]:
factor <- as.factor(letters[1:3]); print(factor)
class(factor)

[1] a b c
Levels: a b c

[1] "factor"

## 2.4 Data structures
### 2.4.1* Scalar
Not considered as a stand-alone data structure because it is basically a vector of length 1.

In [26]:
x <- 5; x

[1] 5

### 2.4.2 Vector
In R, we work with vectors.

In [27]:
# As a big fan of winter sports, I hope that...
snow.days.per.week.mtl <- c(7, 7, 7, 7)
print(snow.days.per.week.mtl)

[1] 7 7 7 7

In [28]:
# We can add names to the vector for each entry
names(snow.days.per.week.mtl) <- rep("Jan 2018", 4)
print(snow.days.per.week.mtl)

Jan 2018 Jan 2018 Jan 2018 Jan 2018
       7        7        7        7

In [29]:
# But the names will not affect calculations.
sum(snow.days.per.week.mtl)

[1] 28

### 2.4.3 Matrix

In [30]:
mymatrix1 <- matrix(c(3:14), nrow = 4, byrow = TRUE)
print(mymatrix1)

     [,1] [,2] [,3]
[1,]    3    4    5
[2,]    6    7    8
[3,]    9   10   11
[4,]   12   13   14

In [31]:
mymatrix2 <- matrix(c(3:14), nrow = 4, byrow = FALSE)
print(mymatrix2)

     [,1] [,2] [,3]
[1,]    3    7   11
[2,]    4    8   12
[3,]    5    9   13
[4,]    6   10   14

In [32]:
rownames <- c("row1", "row2", "row3", "row4")
colnames <- c("col1", "col2", "col3")
rownames(mymatrix1) <- rownames
colnames(mymatrix1) <- colnames
print(mymatrix1)

     col1 col2 col3
row1    3    4    5
row2    6    7    8
row3    9   10   11
row4   12   13   14

### 2.4.4 Array

Mathematically, scalars, vectors and matrices are all arrays of different dimensions
- Scalar: 1 x 1 array
- Vector of length k: 1 x k array
- Matrix of dimension m x n: m x n array

<tt>R</tt> treats every array below 3 dimensions differently but they are essentially not very different. Python treats them in the same way.

Now let's look at a 3-dimensional array.

In [33]:
myarray <- array(1:24, dim = c(4,3,2))
print(myarray)

, , 1

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

, , 2

     [,1] [,2] [,3]
[1,]   13   17   21
[2,]   14   18   22
[3,]   15   19   23
[4,]   16   20   24

##### A demonstration of high dimensional arrays - why is it useful?
Fake data:
- Disease: 1=Yes, 0=No
- Drug: 1=Exposed, 0=Unexposed
- BMI category: 1,2,3
- Age category: 1,2,3,4

In [34]:
# Don't worry about the data generating process.
set.seed(613) # Make random numbers generated from sample() reproducible.

# A fake observation study
# Randomly assign ~60% of patients to take drug
drug <- sample(c(0,1), size = 100, replace = TRUE, prob = c(0.6, 0.4))

# Randomly assign ~20% of patients to be cured after taking the drug.
disease <- sample(c(0,1), size = 100, replace = TRUE, prob = c(0.2, 0.8))

bmi.cat <- sample(1:3, size = 100, replace = TRUE) # Randomly assign BMI categories
age.cat <- sample(1:4, size = 100, replace = TRUE) # Randomly assign age categories
data <- data.frame(drug, disease, bmi.cat, age.cat) # Make our data frame
head(data)

# The table below shows the first 6 rows of the fake dataset.
# This is a typical dataset you will see in Epidemiology.
# Each row is a patient, with their own information.
# Goal is to assess the drug effectiveness.

  drug disease bmi.cat age.cat
1 1    1       3       3
2 1    1       3       4
3 0    1       2       1
4 1    1       1       2
5 0    1       3       2
6 1    1       2       1

In [35]:
# By tabulating the data, we can assess the association (EPIB 601 material).
# If we only tabulate drug and disease, we get a 2x2 table, which is a matrix or a 2-dimensional array.
# 1st dimension: drug, 2nd dimension: disease
table(data[c("drug","disease")])

    disease
drug  0  1
   0  9 46
   1  7 38

In [36]:
# This may not be enough, we want to see how people with different BMI may differ (confounder, also 601 material).
# We now need a 2x2x3 table, which is a 3-dimensional array.
# 1st dimension: drug, 2nd dimension: disease, 3rd dimension: bmi.cat
table(data[c("drug", "disease", "bmi.cat")])

, , bmi.cat = 1

    disease
drug  0  1
   0  2 15
   1  1 12

, , bmi.cat = 2

    disease
drug  0  1
   0  3 13
   1  4 14

, , bmi.cat = 3

    disease
drug  0  1
   0  4 18
   1  2 12

In [37]:
# Further include age to see how age category comes into the association
# We now need a 2x2x3x4 table, which is a 4-dimensional array.
# 1st dimension: drug, 2nd dimension: disease, 3rd dimension: bmi.cat, 4th dimension: age.cat
# table(data)

### 2.4.5 Data frames
Data frame is the most commonly used data structure in R. A data frame is a generalization of a matrix, in which different columns may have different types. All elements of any column must have the same type, i.e. all numeric or all factor, or all character.

In [38]:
names <- c("Lucy", "John", "Mark", "Candy")
score <- c(67, 56, 87, 91)
pass <- c(T, F, T, T)
df <- data.frame(names, score, pass); print(df)

  names score  pass
1  Lucy    67  TRUE
2  John    56 FALSE
3  Mark    87  TRUE
4 Candy    91  TRUE

In [39]:
score

[1] 67 56 87 91

In [40]:
str(df) # checking the structure of an object

'data.frame':	4 obs. of  3 variables:
 $ names: Factor w/ 4 levels "Candy","John",..: 3 2 4 1
 $ score: num  67 56 87 91
 $ pass : logi  TRUE FALSE TRUE TRUE

#### Create these data structures
        - c
        - matrix
        - array
        - data.frame
        - ...
#### Conversion between these data structures
        - as.vector
        - as.matrix
        - as.array
        - as.data.frame
        - ...
#### Check whether your R object has certain data structure
        - is.vector
        - is.matrix
        - is.array
        - is.data.frame
        - ...

### 2.4.6 List
In above data structures, data types and dimensions have to match. But not in lists.

In [41]:
mylist <- list("Red", factor(c("a","b")), c(21,32,11), TRUE)
print(mylist)

[[1]]
[1] "Red"

[[2]]
[1] a b
Levels: a b

[[3]]
[1] 21 32 11

[[4]]
[1] TRUE

In [42]:
str(mylist)

List of 4
 $ : chr "Red"
 $ : Factor w/ 2 levels "a","b": 1 2
 $ : num [1:3] 21 32 11
 $ : logi TRUE

### 2.4.7* Factors
Factor is considered as a data structure - among vectors, matrices, etc.

In my opinion, factor is a data type.

Doesn't really matter.

In [43]:
ch.letter <- letters[1:3]
print(ch.letter)

[1] "a" "b" "c"

In [44]:
class(ch.letter)

[1] "character"

In [45]:
fac.letter <- as.factor(letters[1:3])
print(fac.letter)
# Note the additional 'Levels: a b c' in the output

[1] a b c
Levels: a b c

In [46]:
class(fac.letter)
# Should factor be considered as a data structure or a data type?

[1] "factor"

In [47]:
factor(1:10)

 [1] 1  2  3  4  5  6  7  8  9  10
Levels: 1 2 3 4 5 6 7 8 9 10

## 2.5 How to generate data
##### Usually we start with vectors, by using the ombinations of the following
- c( )
- seq( )
- rep( )
- sequence( )

In [48]:
c(-1, 5.44, 100, 34123)

[1]    -1.00     5.44   100.00 34123.00

In [49]:
-1:10 # Integers, by increments of 1.

 [1] -1  0  1  2  3  4  5  6  7  8  9 10

In [50]:
seq(from = 0.33, to = 9.33, by = 3)

[1] 0.33 3.33 6.33 9.33

In [51]:
seq(from = 0, to = 1, length = 5)

[1] 0.00 0.25 0.50 0.75 1.00

In [52]:
rep(1.2, times = 5)

[1] 1.2 1.2 1.2 1.2 1.2

In [53]:
rep(c("six", "one", "three"), times = 2)

[1] "six"   "one"   "three" "six"   "one"   "three"

In [54]:
c(6, 1, 3, rep(seq(from = 3, to = 5, by = 0.5), times = 2))

 [1] 6.0 1.0 3.0 3.0 3.5 4.0 4.5 5.0 3.0 3.5 4.0 4.5 5.0

In [55]:
sequence(5)

[1] 1 2 3 4 5

In [56]:
sequence(c(6, 1, 3))

 [1] 1 2 3 4 5 6 1 1 2 3

## 2.6 Operators
### 2.6.1 Arithmetic operators
###### Vector operations

In [57]:
a <- c(1, 8, 8)
b <- c(2, 8, 4)

In [58]:
a+1 # here 1 is considered as a vector (1, 1, 1)

[1] 2 9 9

In [59]:
a+b

[1]  3 16 12

In [60]:
a*b

[1]  2 64 32

In [61]:
a^2

[1]  1 64 64

##### Element-wise operations

###### Matrix operations
Also element-wise

In [62]:
c <- matrix(c(1,2,3,4), nrow = 2, byrow = T)
d <- matrix(c(5,6,7,8), nrow = 2, byrow = F)
print(c); print(d)

     [,1] [,2]
[1,]    1    2
[2,]    3    4
     [,1] [,2]
[1,]    5    7
[2,]    6    8

In [63]:
c+1

     [,1] [,2]
[1,] 2    3
[2,] 4    5

In [64]:
c+d

     [,1] [,2]
[1,] 6     9
[2,] 9    12

In [65]:
c*d

     [,1] [,2]
[1,]  5   14
[2,] 18   32

In [66]:
c^2

     [,1] [,2]
[1,] 1     4
[2,] 9    16

##### Exercise
Try taking the sum of a matrix and a vector, what does R do?

##### (Optional) If you know linear algebra - cross product, dot product, matrix transpose, diagnol, determinant, rank, etc..

In [67]:
a %*% b

     [,1]
[1,] 98

In [68]:
a %o% b

     [,1] [,2] [,3]
[1,]  2    8    4
[2,] 16   64   32
[3,] 16   64   32

In [69]:
c %*% d

     [,1] [,2]
[1,] 17   23
[2,] 39   53

In [70]:
c; t(c)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [71]:
diag(c)

[1] 1 4

In [72]:
det(c)

[1] -2

### 2.6.2 Logical operators

In [73]:
# Recall vector a and b from above.
print(a); print(b)

[1] 1 8 8
[1] 2 8 4

In [74]:
a == b # Equal or not?

[1] FALSE  TRUE FALSE

In [75]:
a != b # Not equal?

[1]  TRUE FALSE  TRUE

In [76]:
a > b

[1] FALSE FALSE  TRUE

In [77]:
a <= b

[1]  TRUE  TRUE FALSE

In [78]:
# And
a; b
a>5 & b>5

[1] 1 8 8

[1] 2 8 4

[1] FALSE  TRUE FALSE

In [79]:
# Or
a>=5 | b>=5

[1] FALSE  TRUE  TRUE

In [80]:
"ABC" == "ABC"

[1] TRUE

In [81]:
"ABC" == "abc"

[1] FALSE

In [82]:
TRUE + TRUE + FALSE # True = 1, False = 0.

[1] 2

##### Now we can group these vectors into higher dimensional data structures we just learned.
##### Exercise
1. Make a character vector of 5 student names - a, b, c, d, e
2. Make a numeric vector of their EPIB 607 scores - 80, 99, 55, 70, 84
3. Make a numeric vector of their EPIB 613 scores - 85, 90, 62, 40, 88
4. Make two numeric vectors of their curved scores - $score\times 1.1$
5. Make a logical vector of their pass/fail situation before curving
6. Make a logical vector of their pass/fail situation after curving
7. Assemble all information into a data frame, each row is a student, with columns indicating the course, score before curving, score after curving, pass/fail. Each student will have two rows (one for each course).